@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
 
.content{
    padding: 0px 25px ;
    margin: 0 auto;
    max-width: 1250px;
} 


.account-balance{
    background: #fffdd1;
height: 100vh;
width: auto;
padding-top: 35px ;
}


.home-page{
    height: 85vh;
    width: 70%;
    background-color: #C4C4C4;
    flex-direction: column;
    margin: 0 auto;
}

.header{
    width: 100%;
    height: 30vh;
    background-color: pink;
     background: url(./img/pexels-worldspectrum-844124.jpg);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     object-fit: cover;
     flex-direction: column;
}

.head-container{
    display: flex;
    justify-content: space-between;
}


.bank-name{
    width: 30%;
    height:12vh;
    /* background-color: blueviolet; */
    padding: 25px 5px 0px 69px;
    font-size: 20px;
    font-family: 'Rock Salt', cursive;
}
.bank-name h3{
    color: #FFFDD1;
}

.account-arrow{
    padding: 45px;
}

.account-arrow h3{
    font-size: 18px;
    color: #FFFDD1;
}

.account-arrow i{
    font-size: 20px;
    cursor: pointer;
}

.home-info{
    width: 100%;
    height: 55vh;
    background-color: #F6E8B1;
    padding: 15px;
    border-right:  2px solid  #000000;
    border-bottom:  2px solid  #000000;
}

.home-container{
    flex-direction: column;
    padding: 15px;
    line-height: 35px;
}


.home-container h3{
    font-size: 18px;
    color: #948342;
    font-weight: bolder;
}

.home-container h4{
    font-size: 16px;
    color: #000000;
}

.acct-type{
    margin-top: 25px;
}

.acct-balance{
        margin-top: 25px;
}
