@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
 
.content{
    padding: 0px 25px ;
    margin: 0 auto;
    max-width: 1250px;
} 


.pay-loan{
    background: #fffdd1;
height: 100vh;
width: auto;
padding-top: 35px ;
}

.Rtransfer{
    margin: 0 auto;
    width: 30%;
    height: 80vh;
    background-color: #F6E8B1;
    border-right:  1px solid  #000000;
    border-bottom:  1px solid  #000000;
    border-left:  1px solid  #000000;
   
}

.R-info{
    flex-direction: column;
}

.R-head{
    width: 100%;
    height: 25vh;
    background: url(./img/pexels-worldspectrum-844124.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    flex-direction: column;
}

.bank-name{
    width: 30%;
    height:12vh;
    /* background-color: blueviolet; */
    padding: 25px 0px 0px 10px;
    font-size: 20px;
    font-family: 'Rock Salt', cursive;
}
.bank-name h3{
    color: #FFFDD1;
}

.transfer-head{
    width: 100%;
    height: 5vh;
    background-color: #D4CAA3;
    display: flex;
   padding: 8px;
}

.transfer-head h5{
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
}


.transfer-head i{
font-size: 20px;
font-weight: 900;
cursor:pointer;
}

.Rtransfer-info{
  flex-direction: column;
  padding: 25px 15px 0px 15px;    
}


.input-info{
    margin: 0 auto;
}

.input-info h5{
    font-size: 16px;
    font-weight: 500;
}

.input-info input{
    margin-top: 12px;
    height: 35px;
    display: block;
    width: 100%;
    padding: 0px 10px;
    outline: none;
    border:none;
    transition: 0.2s;
    border-radius: 5px;
    background-color: #C4C4C4;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.input-info input:hover{
    transform: scale(1.03);
    transition: 0.3s;
}

.amount{
    margin-top: 35px;
}

.confirm-btn{
    margin-top: 95px;
}

.confirm-btn button{
    width: 180px;
    height: 40px;
    cursor: pointer;
    color: black;
    border: none;
    background-color: #C4C4C4;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    font-weight: 700;
    font-size: 15px;
}

.confirm-btn button:hover{
    transform: scale(1.03);
    transition: 0.3s;
}